
<div class="col-12">
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">JQL</label>
      </div>
    <textarea class="form-control" id="inputGroupSelect01" rows="2"></textarea>
<div class="col-5">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect02">Поля</label>
    </div>
      <select class="custom-select"  multiple id="inputGroupSelect02" >
        {% for field in feilds_list %}
        <option value="{{ field.field_id }}">{{ field.field_name }}</option>
        {% endfor %}
      </select>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/your_flask_url',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<div class='container'>
</div>
    <h3>Поиск</h3>
    </div>
        <form>
            <a href=# id=test><button class='btn btn-default'>Показать</button></a>
        </form>
        </div>

</div>